<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="NoonSuite" verbose="1">

    <listeners>
        <listener class-name="Utility.Listener.ListenersDefinitionClass"></listener>
    </listeners>


    <listeners>
        <listener class-name="Utility.Listener.RetryListenerClass"/>
    </listeners>


    <test name="Sample Try">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestFiles.LoginTest">

                <methods>
                    <include name="loginApplication"/>
                    <include name="verifyForgotPassword"/>
                    <include name="loginLogo"/>
                </methods>

            </class>
            <class name="TestFiles.HomeTest">

                <methods>
                    <include name="verifyHome"/>
                    <include name="search"/>

                </methods>

            </class>

        </classes>
    </test>
</suite>
